root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 2
indent_brace_style = K&R
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off
end_of_line = lf

[*.{md,markdown}]
indent_style = ignore
insert_final_newline = ignore
trim_trailing_whitespace = ignore

[{package.json}]
indent_size = 2
indent_style = space

[{.DS_Store,{node_modules, test}/**}]
charset = ignore
indent_size = ignore
indent_style = ignore
insert_final_newline = ignore
tab_width = ignore
trim_trailing_whitespace = ignore
